.main
  .card
    .cardImage
    .cardTitle たけし大軍団
    .cardSummary たけしたちの手に汗握る、大乱闘作品。この夏一番のヒット作だと思う。たけしシリーズが好きな人なら必見。本当にこれがたけしの最後かと思うと感無量。絶対に見た方がいい
  .card
    .cardImage
    .cardTitle たけし大軍団
    .cardSummary たけしたちの手に汗握る、大乱闘作品。この夏一番のヒット作だと思う。たけしシリーズが好きな人なら必見。本当にこれがたけしの最後かと思うと感無量。絶対に見た方がいい
  .card
    .cardImage
    .cardTitle たけし大軍団
    .cardSummary たけしたちの手に汗握る、大乱闘作品。この夏一番のヒット作だと思う。たけしシリーズが好きな人なら必見。本当にこれがたけしの最後かと思うと感無量。絶対に見た方がいい

  .card
    .cardImage
    .cardTitle たけし大軍団
    .cardSummary たけしたちの手に汗握る、大乱闘作品。この夏一番のヒット作だと思う。たけしシリーズが好きな人なら必見。本当にこれがたけしの最後かと思うと感無量。絶対に見た方がいい
