.mainShow{
  height:100vh;
  width: calc(100vw - 300px);
  float:right;
  .mainShowHeader{
    height:100px;
    width: calc(100vw - 300px);
    .icon{
      float:right;
      padding-right: 10px;
      color:#455A64;
    }
    .hidden{
      display: none;
    }
    .submit{
      height:30px;
      width:50px;
      background-color: #455A64;
      color:white;
      float:right;
      border-radius: 50%;
      margin-right:10px;
    }
    .mainShowTitle{
      padding: 23px 0 0 40px;
      font-size: 35px;
      float: left;
    }
    .mainShowTime{
      padding:45px 20px 0 20px;
      float:left;
    }
    .mainShowUser{
      padding:45px 20px 0 20px;
    }
  }
  .mainShowBody{
    height:100px;
    width: calc(100vw - 300px);
    padding:20px 0 80px 40px ;
    .mainShowSummary{
      font-size: 20px;
      color:#E64A19;
    }
    .mainShowSummaryText{
      font-size: 15px;
      padding-top:10px;
    }
    .mainShowText{
      font-size: 20px;
      color:#E64A19;
      padding-top: 50px;
    }
    .mainShowTextMain{
      font-size: 15px;
      padding-top:10px;
    }
    .mainShowFooter{
      font-size: 20px;
      color:#E64A19;
      padding-top: 50px;
    }
    .mainShowFooterComments{
      font-size: 15px;
      padding-top: 20px;
    }
    .mainShowFooterComment{
      .mainShowFooterCommentUser{
        font-size: 16px;
        float: left;
      }
        .mainShowFooterCommentTime{
          font-size: 10px;
          float:right;
          padding-left: 20px;
          padding-top: 6px;
          position: bottom;
        }
      .mainShowFooterCommentText{
        font-size: 15px;
        clear:both;
      }
    }
  }
}
