.side
  .sideUser
    .sideUserName たけし
  .sideContents
    .sideContentEdit
      = fa_icon 'pencil-square lg', class: 'icon_edit'
    .sideContentDelete
      = fa_icon 'trash-o lg', class: 'icon_cog'
    .sideContentTitle たけしの冒険
    .sideContentDate 2018/12/24
    .sideContentSummary これまで読んできた本の中で最高傑作。たけしの男気に感動した。第二弾のたけしと秘密の部屋にも期待大。
